.labelStyle1 {
	color: #ff0000;
}

.buttonStyle1 {
	color: #00ccff;
	border-color: #0011ff;
}

.labelStyle2 {
	color: #00c71b;
}

.buttonStyle2 {
	color: #c5c500;
	border-color: #ff8800;
}

.labelStyle3 {
	color: #0011ff;
}

.buttonStyle3 {
	color: #00a050;
	border-color: #00e72e;
}